.osano-root {
    font-family: CircularStd, Helvetica, sans-serif;
    line-height: 1.375;
    color: rgba(50, 50, 50);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.osano-field {
    margin: 0 0 1.5rem;
}

.osano-fieldset {
    border-radius: 12px;
}

.osano-fieldset, .osano-input--type_checkbox+.osano-label::before {
    border-color: rgb(204, 204, 204);
}

.osano-form {
    padding: 1.25rem 1.5rem;
}

.osano-button {
    margin-bottom: 1.5rem;
    border-radius: 43px;
    border-width: 2px;
    /* font-size: var(--font-size-button); -- check as per calculation */ 
    font-weight: 600;
    padding: 10px 16px;
    text-transform: none;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-style: solid;
    line-height: 1;
    text-decoration-line: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}